/********************************************** Stylesheet ***************************************************/

/******************************************* Fixed components ************************************************/
/* Background image for homepage */
body {
  background: #F5F5Dc;
  background-size: cover;
}

/* Logo website */
#logo {
  width:100px;
  height:50px;
}

/* Navigation bar */
#navigation_bar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 100px 10px 20px;
  background: #90C590; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

 /* Text on navigation bar */
#text_navbar a{
  position: relative;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #F5F5DC;
  text-decoration: none;
  text-align: center;
  margin: 0 60px;
}

/* Hover effect nav bar */
#text_navbar a:hover {
  color: #228b22;
}

/* Footer */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1px 1px 1px 1px;
  background: #90C590;
  display: inline-block;
  z-index: 100;
}

/* Text footer */
.text_footer{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 10px;
  color: #F5F5Dc;
  text-align: center;
}

/********************************************* Flex components ***********************************************/

/**************** Home page content ***************/
.content_home_text{
  position: absolute;
  top: 55px;
  left: 30px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 45px;
  color: black;
  text-align: left;
}

/* Fade in from left home page text */
#fade_in_left{
  animation: fadeInLeft 2s ease-out;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}


/* Grid boxes */
#grid_try{
  position: absolute;
  top: 100px;
  right: 30px;
  border-radius: 35px;
  background: #E79384;
  overflow: hidden;
  padding: 20px;
  width: 330px;
  height: 160px;
  transition: clip-path 0.3s ease;
}

#grid_how{
  position: absolute;
  top: 340px;
  right: 880px;
  border-radius: 35px;
  background: #0D4028;
  overflow: hidden;
  padding: 20px;
  width: 330px;
  height: 150px;
  transition: clip-path 0.3s ease;
}

#grid_get{
  position: absolute;
  top: 340px;
  right: 455px;
  border-radius: 35px;
  background: #228b22;
  overflow: hidden;
  padding: 20px;
  width: 330px;
  height: 150px;
  transition: clip-path 0.3s ease;
}

#grid_disclaimer{
  position: absolute;
  top: 340px;
  right: 30px;
  border-radius: 35px;
  background: #B92C25;
  overflow: hidden;
  padding: 20px;
  width: 330px;
  height: 150px;
  transition: clip-path 0.3s ease;
}


/* Opacity transition grid and zooming in content */
#grid_try:hover{
  clip-path: inset(10px 10px 10px 10px round 35px);
  opacity: 0.8;
}

#grid_how:hover{
  clip-path: inset(10px 10px 10px 10px round 35px);
  opacity: 0.8;
}

#grid_get:hover{
  clip-path: inset(10px 10px 10px 10px round 35px);
  opacity: 0.8;
}

#grid_disclaimer:hover{
  clip-path: inset(10px 10px 10px 10px round 35px);
  opacity: 0.8;
}


/* Content of grids */
.grid_try_text a{
  position: relative;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #F5F5DC;
  text-decoration: none;
  text-align: center;
  margin: 100px; 
}

.grid_how_text a{
  position: relative;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #F5F5DC;
  text-decoration: none;
  text-align: center;
  margin: 100px; 
}

.grid_get_text a{
  position: relative;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #F5F5DC;
  text-decoration: none;
  text-align: center;
  margin: 0px; 
}

.grid_disclaimer_text a{
  position: relative;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #F5F5DC;
  text-decoration: none;
  text-align: center;
  margin: 100px; 
}


/* Already existing text move to top on grid */
/* Except "TRY IT NOW!" and "GET YOUR FASTQC FILE HERE!" grid */
#grid_try:hover .grid_try_text a{
  position: relative;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #F5F5DC;
  text-decoration: none;
  text-align: center;
  /* margin: 0; */
}

#grid_how:hover .grid_how_text a{
  position: relative;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #F5F5DC;
  text-decoration: none;
  text-align: center;
  margin: 0;
}

#grid_get:hover .grid_get_text a{
  position: relative;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #F5F5DC;
  text-decoration: none;
  text-align: center;
  margin: 0;
}

#grid_disclaimer:hover .grid_disclaimer_text a{
  position: relative;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #F5F5DC;
  text-decoration: none;
  text-align: center;
  margin: 0;
}

/* Hidden text */
.grid_try_hidden{
  position: relative;
  opacity: 0;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #000000;
  text-align: center;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(20px);
  padding: 0;
  margin: -20px;
  margin-left: 5px;
  margin-right: 5px;
}

.grid_how_hidden{
  position: relative;
  opacity: 0;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #000000;
  text-align: center;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(20px);
  padding: 0;
  margin: -20px;
  margin-left: 5px;
  margin-right: 5px;
}

.grid_get_hidden{
  position: relative;
  opacity: 0;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #000000;
  text-align: center;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(20px);
  padding: 0;
  margin: -20px;
  margin-left: 5px;
  margin-right: 5px;
}

.grid_disclaimer_hidden{
  position: relative;
  opacity: 0;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #000000;
  text-align: center;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(20px);
  padding: 0;
  margin: -20px;
  margin-left: 5px;
  margin-right: 5px;
}

/* Fade in hidden text when hover */
#grid_try:hover .grid_try_hidden {
  opacity: 1;
  transform: translateY(0);
}

#grid_how:hover .grid_how_hidden {
  opacity: 1;
  transform: translateY(0);
}

#grid_get:hover .grid_get_hidden {
  opacity: 1;
  transform: translateY(0);
}

#grid_disclaimer:hover .grid_disclaimer_hidden {
  opacity: 1;
  transform: translateY(0);
}


/****************** About page content *******************/
/* Text about page */
.head_text_about_page{
  position: relative;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  margin: 70px;
  top: 50px;
}

.text_about_page{
  position: relative;
  font-family: sans-serif;
  font-size: 30px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  margin: 0px;
  top: 60px;
}


/****************** Try it now page content *******************/
/* Text try it now page */
.head_text_try_page{
  position: relative;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  margin: 70px;
  top: 50px;
}

.text_try_page{
  position: relative;
  font-family: sans-serif;
  font-size: 30px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  margin: 0px;
  top: 60px;
}


/****************** How does it work page content *******************/
/* Text how does it work page */
.head_text_how_page{
  position: relative;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  margin: 70px;
  top: 50px;
}

.text_how_page{
  position: relative;
  font-family: sans-serif;
  font-size: 30px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  margin: 0px;
  top: 60px;
}


/****************** Disclaimer page content *******************/
/* Text disclaimer page */
.head_text_disclaimer_page{
  position: relative;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  margin: 70px;
  top: 50px;
}

.text_disclaimer_page{
  position: relative;
  font-family: sans-serif;
  font-size: 30px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  margin: 0px;
  top: 60px;
}


/****************** FASTQC page content *******************/
/* Text FASTQC page */
.head_text_fastqc_page{
  position: relative;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  margin: 70px;
  top: 50px;
}

.text_fastqc_page{
  position: relative;
  font-family: sans-serif;
  font-size: 30px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  margin: 0px;
  top: 60px;
}


/****************** Trimmomatic page content *******************/
/* Text Trimmomatic page */
.head_text_trimmomatic_page{
  position: relative;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  margin: 70px;
  top: 50px;
}

.text_trimmomatic_page{
  position: relative;
  font-family: sans-serif;
  font-size: 30px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  margin: 0px;
  top: 60px;
}


/****************** Contact page content *****************/
/* Text contact page */
.head_text_contact_page{
  position: relative;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  margin: 50px;
  top: 10px;
  right: 5px;
}

.text_contact_page{
  position: absolute;
  font-family: sans-serif;
  /* font-weight: bold; */
  font-size: 30px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  margin: 100px;
  margin-left: 32%;
}

/* E-mail links */
.email_links a{
  position: absolute;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #228b22;
  text-decoration: none;
  text-align: center;
  margin: 400px;
  margin-left: 20%
}

/* Position e-mailadresses */
#mail1 {
  position: absolute;
  text-align: center;
  top: 30px;
  left: 200px;
}

#mail2 {
  position: absolute;
  text-align: center;
  top: 30px;
  left: 450px;
}

#mail3 {
  position: absolute;
  text-align: center;
  top: 30px;
  right: 550px;
}

#mail4 {
  position: absolute;
  text-align: center;
  top: 30px;
  right: 300px;
}

/* Email picture */
#picture_email {
  position: relative;
  top: 350px;
  right: -600px;
  width:50px;
  height:50px;
}