/********************************************** Stylesheet ***************************************************/

/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/******************************************* Fixed components ************************************************/
/* Background image for homepage */
body {
  background: #F5F5Dc;
  background-size: cover;
}

/* Logo website */
#logo {
  width:6vw;
  height:3vw;
}

/* Navigation bar */
#navigation_bar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.6vw 6vw 0.6vw 1.2vw;
  background: #90C590; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

 /* Text on navigation bar */
#text_navbar a{
  position: relative;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.3vw;
  color: #F5F5DC;
  text-decoration: none;
  text-align: center;
  margin: 0 5vw;
}

/* Hover effect nav bar */
#text_navbar a:hover {
  color: #228b22;
}

/* Footer */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.6vw 0.6vw 0.6vw 0.6vw;
  background: #90C590;
  display: inline-block;
  z-index: 100;
}

/* Text footer */
.text_footer{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 0.6vw;
  color: #F5F5Dc;
  text-align: center;
}

/********************************************* Flex components ***********************************************/

/**************** Home page content ***************/
.content_home_text{
  position: absolute;
  top: 7vw;
  left: 2vw;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 3.5vw;
  color: black;
  text-align: left;
}

/* Fade in from left home page text */
#fade_in_left{
  animation: fadeInLeft 2s ease-out;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}


/* Grid boxes */
#grid_try{
  position: absolute;
  top: 8vw;
  right: 1.8vw;
  border-radius: 2.1vw;
  background: #E79384;
  overflow: hidden;
  padding: 1.2vw;
  width: 30vw;
  height: 15vw;
  transition: clip-path 0.3s ease;
}

#grid_how{
  position: absolute;
  bottom: 4vw;
  left: 1.8vw;
  border-radius: 2.1vw;
  background: #0D4028;
  overflow: hidden;
  padding: 1.2vw;
  width: 30vw;
  height: 15vw;
  transition: clip-path 0.3s ease;
}

#grid_get{
  position: absolute;
  bottom: 4vw;
  left: 35vw;
  border-radius: 2.1vw;
  background: #228b22;
  overflow: hidden;
  padding: 1.2vw;
  width: 30vw;
  height: 15vw;
  transition: clip-path 0.3s ease;
}

#grid_disclaimer{
  position: absolute;
  bottom: 4vw;
  right: 1.8vw;
  border-radius: 2.1vw;
  background: #B92C25;
  overflow: hidden;
  padding: 1.2vw;
  width: 30vw;
  height: 15vw;
  transition: clip-path 0.3s ease;
}


/* Opacity transition grid and zooming in content */
#grid_try:hover{
  clip-path: inset(10px 10px 10px 10px round 35px);
  opacity: 0.8;
}

#grid_how:hover{
  clip-path: inset(10px 10px 10px 10px round 35px);
  opacity: 0.8;
}

#grid_get:hover{
  clip-path: inset(10px 10px 10px 10px round 35px);
  opacity: 0.8;
}

#grid_disclaimer:hover{
  clip-path: inset(10px 10px 10px 10px round 35px);
  opacity: 0.8;
}


/* Content of grids */
.grid_try_text a{
  position: relative;
  top: 5vw;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 250%;
  color: #F5F5DC;
  text-decoration: none;
  text-align: center;
}

.grid_how_text a{
  position: relative;
  top: 5vw;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 200%;
  color: #F5F5DC;
  text-decoration: none;
  text-align: center; 
}

.grid_get_text a{
  position: relative;
  top: 3.5vw;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 240%;
  color: #F5F5DC;
  text-decoration: none;
  text-align: center;
}

.grid_disclaimer_text a{
  position: relative;
  top: 4.3vw;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 280%;
  color: #F5F5DC;
  text-decoration: none;
  text-align: center;
}



/* Already existing text move to top on grid */
/* Except "TRY IT NOW!" and "GET YOUR FASTQC FILE HERE!" grid */
#grid_try:hover .grid_try_text a{
  position: relative;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 240%;
  color: #F5F5DC;
  text-decoration: none;
  text-align: center;
}

#grid_how:hover .grid_how_text a{
  position: relative;
  top: 4vw;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 180%;
  color: #F5F5DC;
  text-decoration: none;
  text-align: center;
  margin: 0;
}

#grid_get:hover .grid_get_text a{
  position: relative;
  top: 2vw;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 240%;
  color: #F5F5DC;
  text-decoration: none;
  text-align: center;
  margin: 0;
}

#grid_disclaimer:hover .grid_disclaimer_text a{
  position: relative;
  top: 4vw;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 220%;
  color: #F5F5DC;
  text-decoration: none;
  text-align: center;
  margin: 0;
}

/* Hidden text */
.grid_try_hidden{
  position: relative;
  opacity: 0;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.2vw;
  color: #000000;
  text-align: center;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(20px);
  padding: 0;
  margin: -20px;
  margin-left: 5px;
  margin-right: 5px;
}

.grid_how_hidden{
  position: relative;
  opacity: 0;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1vw;
  color: #000000;
  text-align: center;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(20px);
  padding: 0;
  margin: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.grid_get_hidden{
  position: relative;
  opacity: 0;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1vw;
  color: #000000;
  text-align: center;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(20px);
  padding: 0;
  margin: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.grid_disclaimer_hidden{
  position: relative;
  opacity: 0;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1vw;
  color: #000000;
  text-align: center;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(20px);
  padding: 0;
  margin: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

/* Fade in hidden text when hover */
#grid_try:hover .grid_try_hidden {
  opacity: 1;
  transform: translateY(0);
}

#grid_how:hover .grid_how_hidden {
  opacity: 1;
  transform: translateY(0);
}

#grid_get:hover .grid_get_hidden {
  opacity: 1;
  transform: translateY(0);
}

#grid_disclaimer:hover .grid_disclaimer_hidden {
  opacity: 1;
  transform: translateY(0);
}


/****************** About page content *******************/
/* Text about page */
.head_text_about_page{
  position: relative;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2vw;
  color: #000000;
  text-decoration: none;
  text-align: center;
  margin: 70px;
  top: 50px;
}

.headers_text_about_page{
  position: relative;
  font-family: sans-serif;
  font-size: 1.5vw;
  color: #000000;
  text-decoration: none;
  text-align: left;
  margin: 15px;
  margin-left: 15px;
}

.text_about_page{
  position: relative;
  font-family: sans-serif;
  font-size: 1.5vw;
  color: #000000;
  text-decoration: none;
  text-align: left;
  margin: 15px;
  margin-right: 150px;
  margin-left: 15px;
}

.text_about_list{
  margin-left: 40px;
}

.pictures_about{
  margin: 5px;
  margin-left: 15px;
  width: 575px;
  height: 375px;
}

.figcaption_about{
  margin: 5px;
  margin-left: 15px;
}

.source_text_about {
  position: relative;
  font-family: sans-serif;
  font-size: 1.5vw;
  color: #0D4028;
  text-decoration: none;
  text-align: left;
  margin: 15px;
  margin-right: 150px;
  margin-left: 1px;
}

.links_text_about {
  position: relative;
  font-family: sans-serif;
  font-size: 1.5vw;
  font-weight: bold;
  color: #228b22;
  text-decoration: underline;
  text-align: left;
  margin: 1px;
}


/****************** Try it now page content *******************/
/* Text try it now page */
.head_text_try_page{
  position: relative;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2vw;
  color: #000000;
  text-decoration: none;
  text-align: center;
  margin: 70px;
  top: 50px;
}

.text_try_page{
  position: relative;
  font-family: sans-serif;
  font-size: 3vw;
  color: #000000;
  text-decoration: none;
  text-align: center;
  margin: 0px;
  top: 60px;
}


/****************** How does it work page content *******************/
/* Text how does it work page */
.head_text_how_page{
  position: relative;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2vw;
  color: #000000;
  text-decoration: none;
  text-align: center;
  margin: 70px;
  top: 50px;
}

.text_how_page{
  position: relative;
  font-family: sans-serif;
  font-size: 3vw;
  color: #000000;
  text-decoration: none;
  text-align: center;
  margin: 0px;
  top: 60px;
}


/****************** Disclaimer page content *******************/
/* Text disclaimer page */
.head_text_disclaimer_page{
  position: relative;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2vw;
  color: #000000;
  text-decoration: none;
  text-align: center;
  margin: 70px;
  top: 50px;
}

.text_disclaimer_page{
  position: relative;
  font-family: sans-serif;
  font-size: 1.5vw;
  color: #000000;
  text-decoration: none;
  text-align: left;
  margin: 15px;
  margin-right: 150px;
}


/****************** FASTQC page content *******************/
/* Text FASTQC page */
.head_text_fastqc{
  position: relative;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2vw;
  color: #000000;
  text-decoration: none;
  text-align: center;
  margin: 70px;
  top: 50px;
}

#header_text_fastqc{
  position: relative;
  font-family: sans-serif;
  font-size: 2vw;
  color: #000000;
  text-decoration: none;
  text-align: center;
  margin: 30px;
}

.headers_text_fastqc{
  position: relative;
  font-family: sans-serif;
  font-size: 1.5vw;
  color: #000000;
  text-decoration: none;
  text-align: left;
  margin: 15px;
}

.text_fastqc {
  position: relative;
  font-family: sans-serif;
  font-size: 1.5vw;
  color: #000000;
  text-decoration: none;
  text-align: left;
  margin: 15px;
  margin-right: 150px;
}

.source_text_fastqc {
  position: relative;
  font-family: sans-serif;
  font-size: 1.5vw;
  color: #0D4028;
  text-decoration: none;
  text-align: left;
  margin: 15px;
  margin-right: 150px;
}

.links_text_fastqc {
  position: relative;
  font-family: sans-serif;
  font-size: 1.5vw;
  font-weight: bold;
  color: #228b22;
  text-decoration: underline;
  text-align: left;
}


/****************** Trimmomatic page content *******************/
/* Text Trimmomatic page */
.head_text_trimmomatic {
  position: relative;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2vw;
  color: #000000;
  text-decoration: none;
  text-align: center;
  margin: 70px;
  top: 50px;
}

.main_headers_text_trimmomatic {
  position: relative;
  font-family: sans-serif;
  font-size: 2vw;
  color: #000000;
  text-decoration: none;
  text-align: center;
  margin: 30px;
}

.headers_text_trimmomatic {
  position: relative;
  font-family: sans-serif;
  font-size: 2vw;
  color: #000000;
  text-decoration: none;
  text-align: center;
  margin: 30px;
}

.text_trimmomatic {
  position: relative;
  font-family: sans-serif;
  font-size: 1.5vw;
  color: #000000;
  text-decoration: none;
  text-align: left;
  margin: 15px;
  margin-right: 150px;
}

.note_trimmomatic {
  position: relative;
  font-family: sans-serif;
  font-size: 1.5vw;
  font-weight: bold;
  color: #228b22;
  text-decoration: none;
  text-align: left;
  margin: 15px;
  margin-right: 150px;
}

.bold_text_trimmomatic {
  position: relative;
  font-family: sans-serif;
  font-size: 1.5vw;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  text-align: left;
}

.list_text_trimmomatic {
  position: relative;
  font-family: sans-serif;
  font-size: 1.5vw;
  color: #000000;
  text-decoration: none;
  text-align: left;
  margin: 35px;
  margin-right: 150px;
}

.source_text_trimmomatic {
  position: relative;
  font-family: sans-serif;
  font-size: 1.5vw;
  color: #0D4028;
  text-decoration: none;
  text-align: left;
  margin: 15px;
  margin-right: 150px;
}

.links_text_trimmomatic {
  position: relative;
  font-family: sans-serif;
  font-size: 1.5vw;
  font-weight: bold;
  color: #228b22;
  text-decoration: underline;
  text-align: left;
  margin: 1px;
}

.pictures_trimmomatic {
  margin: 5px;
  margin-left: 15px;
}

.figcaption_trimmomatic {
  margin: 5px;
  margin-left: 15px;
}

/****************** Contact page content *****************/
/* Text contact page */
.head_text_contact_page{
  position: relative;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2vw;
  color: #000000;
  text-decoration: none;
  text-align: center;
  margin: 5vw;
  top: 0.7vw;
}

.text_contact_page{
  position: absolute;
  font-family: sans-serif;
  font-size: 3vw;
  color: #000000;
  text-decoration: none;
  text-align: center;
  margin: 5vw;
  margin-left: 27.5vw;
}

/* E-mail links */
.email_links a{
  position: absolute;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2vw;
  color: #228b22;
  text-decoration: none;
  text-align: center;
  margin: 33vw;
  margin-left: 0vw;
}

/* Position e-mailadresses */
#mail1 {
  position: absolute;
  text-align: center;
  top: 30px;
  left: 200px;
}

#mail2 {
  position: absolute;
  text-align: center;
  top: 30px;
  left: 450px;
}

#mail3 {
  position: absolute;
  text-align: center;
  top: 30px;
  right: 550px;
}

#mail4 {
  position: absolute;
  text-align: center;
  top: 30px;
  right: 300px;
}

/* Email picture */
#picture_email {
  position: relative;
  top: 30vw;
  left: 47vw;
  width: 5vw;
  height: 5vw;
}