<!-- extends from base layout-->
{% extends "basetemplate.html" %}

{% block content %}

   <!-- CONTENT -->
   <h1 class="head_text_about_page"> ABOUT </h1>
   <h3 class="headers_text_about_page"> What is TrimTech? </h3>
   <div class="text_about_page">
      <p> 
         TrimTech is a website you can use to perform quality controls on DNA-sequences. It does so by analysing a FastQ file. TrimTech visualizes these quality controls for you. You can decide whether or not you want to trim your DNA-sequence to increase its quality. If you have chosen to trim your DNA-sequence TrimTech will visually compare your sequence before and after trimming it.
      </p>
   </div>

   <br>
   <h3 class="headers_text_about_page"> What is a FastQ-file? </h3>
   <div class="text_about_page">
      <p>
         If you want to know more about how this process works it’s important to know what a FastQ-file is.<br>
         A FASTQ format is a text file format that stores:<br>
         <ul class="text_about_list">
         <li>base sequences</li>
         <li>confidence for each base in a sequence</li>
         <li>describing the origin of the read down to its position on the sequencing platform flow-cell</li>
         </ul>
         A FASTQ file is an extension of the FASTA file format, with the extension allowing for the storage of sequencing quality data along with the sequence itself and the sequence ID. 
         All FASTQ files consist of a set of reads, with each read having 4 lines of data. 
         The first line of each set will always begin with an “@” symbol and is often called the sequence identifier/metadata line. The “@” is followed by the sequence identifier and an optional description. 
         The second line will always contain the raw nucleotide sequence, but if a nucleotide base is undefined it will show an N. 
         The third line is a spacer that will start with a “+”. There may be additional comments put on this line, such as the same content as the first line, but important data will not be found in this line. 
         The fourth line contains the quality score of the nucleotide bases based on an ASCII table.
      </p>
      <figure>
         <img src="../static/exp_fastq.png" alt="Example of a fastq file" title="Content FastQ" class="pictures_about">
         <figcaption class="figcaption_about"> Figure 1: Explanation about the content of a FastQ file. (https://biocorecrg.github.io/RNAseq_course_2019/fastq.html )</figcaption>
      </figure>
   </div>

   <br>
   <h3 class="headers_text_about_page"> What is a PHRED-score? </h3>
   <div class="text_about_page">
    <p>
        A Phred score, also known as a Phred quality score/Q score, defines the probability that the base call generated
        by automated DNA sequencing is correct. It was originally developed for a computer program called Phred to help
        in the automation of DNA sequencing in the Human Genome Project. Phred quality scores are assigned to each
        nucleotide base call-in automated sequencer traces. The FASTQ format encodes phred scores as ASCII characters
        along the read sequences. The quality of the scores ranges from 4 to 40 in most useable phred-scaled base
        quality scores. However, phred-scaled quality scores in general can range from 0 to infinity. Phred scores are
        important in determining whether a sequence is accurate and good quality. A higher score indicates a higher
        probability that a sequence is correct, while a lower score indicates a higher probability that a sequence is
        incorrect.
    </p>

    <p>
        The Phred score of a given sequence is defined by the following equation:
    </p>
   <br>
    <figure>
        <img src="../static/Phred_formula.jpg" alt="Formula Phred score" Title="Formula Phred score">
        <figcaption> Figure 1: Formula Phred score (Zymoresearch) </figcaption>
    </figure>
    <br>

    <ul class="text_about_list">
        <li>Q: The Q stands for the Phred quality score/Q score</li>
        <li>P: The P stands for the base-calling error probabilities</li>
    </ul>

   <br>
    <h3> ASCII </h3>
    <p>
        ASCII has been the standard for encoding characters to numbers since well before modern DNA sequencing were
        developed. This encoding scheme was initially developed for a machine known as the teletype, where the user
        could type a message while connected to a phone line, and the message would be printed elsewhere. Because the
        original computer keyboards were teletype devices connected to early mainframes, this standard has persisted in
        computing for decades and was an easy choice for encoding a one- or two-digit value to a single character.
    </p>

   <br>
    <figure>
        <img src="../static/ASCII-Table.svg.png" alt="ASCII table" Title="ASCII table">
        <figcaption> Figure 2: ASCII table (Wikipedia) </figcaption>
    </figure>

    <br>
    <h3> Phred – 33 and – 64 </h3>
    <p>
        To encode a quality score as a single character, it will need to be compressed first, or encoded, down to a
        two-digit number by Phred encoding. For a call with a confidence of 99.9%, we would get a Phred score of 30. In
        ASCII is 30 the backspace character, which does not print, or could even delete the character before it. To get
        around it, the character encoding scheme adds in a base value. The most used base value is 33, which corresponds
        to the first visible printing character: the exclamation point. A less commonly used standard, but one that was
        often used with Phred encoding is 64. This value was chosen because scoring schemes will often not have 0 as a
        possible quality score, meaning that the @ symbol would not be a potential character for quality encoding and
        could be left to exclusively signify the beginning of a FASTQ sequence ID line. The common method of denoting
        the encoding scheme Is to first list the scheme for scaling numbers and then the signed base value. The most
        used scheme, and the current standard of this writing, is Phred – 33.
    </p>

    <br>
    <h4 class="source_text_about">Sources:</h4>
    <p class="source_text_about">
        The info used on this paged is based on these sites:

      <a href="https://zymoresearch.eu/blogs/blog/what-are-phred-scores " class="links_text_about"> PHRED-scores </a>
      ,
      <a href="https://en.wikipedia.org/wiki/Phred_quality_score" class="links_text_about"> Wikipedia (Phred quality score) </a>
      &
      <a href="https://en.m.wikipedia.org/wiki/File:ASCII-Table.svg" class="links_text_about"> Wikipedia (ASCII table)</a>
      </p>
   </div>

{% endblock %}