<!DOCTYPE html>

<html lang="en">

<!-- HEAD -->

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title> TrimTech </title>
      <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
      <link rel="stylesheet" href="../static/style.css">
   </head>

<body>
   <!-- HEADER -->

   <header id="navigation_bar">
      <a href="{{ url_for("homepage")}}">
         <img id="logo" src="../static/logo_trimtech.png" alt="website logo">
      </a>

      <nav id="text_navbar">
         <a href="{{ url_for("about")}}"> ABOUT </a>
         <a href="{{ url_for("uploadpage")}}"> UPLOAD </a>
         <a href="{{ url_for("fastqc")}}"> FASTQC </a>
         <a href="{{ url_for("trimmomatic")}}"> TRIMMOMATIC </a>
         <a href="{{ url_for("contactpage")}}"> CONTACT </a>
      </nav>

   </header>


   <!-- CONTENT -->
   <h1 class="head_text_about_page"> ABOUT </h1>
   <h3 class="headers_text_about_page"> What is TrimTech? </h3>
   <div class="text_about_page">
      <p> 
         TrimTech is a website you can use to perform quality controls on DNA-sequences. It does so by analysing a FastQ file. TrimTech visualizes these quality controls for you. You can decide whether or not you want to trim your DNA-sequence to increase its quality. If you have chosen to trim your DNA-sequence TrimTech will visually compare your sequence before and after trimming it.
      </p>
   </div>

   <br>
   <h3 class="headers_text_about_page"> What is a FastQ-file? </h3>
   <div class="text_about_page">
      <p>
         If you want to know more about how this process works it’s important to know what a FastQ-file is.<br>
         A FASTQ format is a text file format that stores:<br>
         <ul class="text_about_list">
         <li>base sequences</li>
         <li>confidence for each base in a sequence</li>
         <li>describing the origin of the read down to its position on the sequencing platform flow-cell</li>
         </ul>
         A FASTQ file is an extension of the FASTA file format, with the extension allowing for the storage of sequencing quality data along with the sequence itself and the sequence ID. 
         All FASTQ files consist of a set of reads, with each read having 4 lines of data. 
         The first line of each set will always begin with an “@” symbol and is often called the sequence identifier/metadata line. The “@” is followed by the sequence identifier and an optional description. 
         The second line will always contain the raw nucleotide sequence, but if a nucleotide base is undefined it will show an N. 
         The third line is a spacer that will start with a “+”. There may be additional comments put on this line, such as the same content as the first line, but important data will not be found in this line. 
         The fourth line contains the quality score of the nucleotide bases based on an ASCII table.
      </p>
      <figure>
         <img src="../static/exp_fastq.png" alt="Example of a fastq file" title="Content FastQ" class="pictures_about">
         <figcaption class="figcaption_about"> Figure 1: Explanation about the content of a FastQ file. (https://biocorecrg.github.io/RNAseq_course_2019/fastq.html )</figcaption>
      </figure>
   </div>

   <br>
   <h3 class="headers_text_about_page"> What is a PHRED-score? </h3>
   <div class="text_about_page">
      <p>
         Coming soon...
      </p>
   </div>



   <!-- FOOTER -->

   <footer>
    <div class="footer">
       <div class="text_footer">
          <p> &copy;TrimTech ALL RIGHTS RESERVED</p>
       </div>
    </div>
   </footer>

</body>
</html>