<!-- extends from base layout-->
{% extends "basetemplate.html" %}

{% block content %}
   <!-- HEADER -->

   <header id="navigation_bar">
      <a href="homepage.html">
         <img id="logo" src="../static/logo_trimtech.png" alt="website logo">
      </a>

      <nav id="text_navbar">
         <a href="about.html"> ABOUT </a>
         <a href="uploadpage.html"> UPLOAD </a>
         <a href="fastqc.html"> FASTQC </a>
         <a href="trimmomatic.html"> TRIMMOMATIC </a>
         <a href="contactpage.html"> CONTACT </a>
      </nav>

   </header>


   <!-- CONTENT -->
   <h1 class="head_text_about_page"> ABOUT </h1>
   <h3 class="headers_text_about_page"> What's TrimTech? </h3>
   <div class="text_about_page">
      <p> 
         TrimTech is a website you can use to perform quality controls on DNA-sequences. It does so by analysing a FastQ file. TrimTech visualizes these quality controls for you. You can decide whether or not you want to trim your DNA-sequence to increase its quality. If you have chosen to trim your DNA-sequence TrimTech will visually compare your sequence before and after trimming it.
      </p>
   </div>

   <br>
   <h3 class="headers_text_about_page"> What’s a FastQ-file? </h3>
   <div class="text_about_page">
      <p>
         If you want to know more about how this process works it’s important to know what a FastQ-file is. 
         More information coming soon…
      </p>
   </div>

   <br>
   <h3 class="headers_text_about_page"> What's a PHRED-score? </h3>
   <div class="text_about_page">
      <p>
         Coming soon...
      </p>
   </div>
{% endblock %}