{% extends "basetemplate.html" %}

{% block content %}

   <!-- CONTENT -->
   <div class="text_contact_page">
        <h3 class="head_text_contact_page"> CONTACT </h3>
        <p> If you want to share your <br>
            thoughts or if any questions arise, <br>
            please contact us via:</p>
   </div>
   <a href="https://github.com/KasthuryI/Bio-informatica-toolbox" target="_blank" rel="noopener noreferrer">
   <img id="logo_github" src="../static/GitHub-logo.png" alt="GitHub logo"></a>
{% endblock %}