{% extends "basetemplate.html" %}

{% block content %}

   <!-- CONTENT -->
   <div class="text_contact_page">
        <h3 class="head_text_contact_page"> CONTACT </h3>
        <p> If you want to share your <br>
            thoughts or if any questions arise, <br>
            please contact us via:</p>
   </div>

   <img id="picture_email" src="../static/email.png" alt="email picture"> 
    
   <div class="email_links">
      <ul>
         <li id="mail1"><a href="mailto:s.steller@st.hanze.nl">Ivar Lottman</a></li>
         <li id="mail2"><a href="mailto:i.lottman@st.hanze.nl">Storm Steller</a></li>
         <li id="mail3"><a href="mailto:mi.draaijer@st.hanze.n">Mirte Draaijer</a></li>
         <li id="mail4"><a href="mailto:k.inparajah@st.hanze.nl">Kasthury Inparajah</a></li>
      </ul> 
   </div>
{% endblock %}