<!DOCTYPE html>

<html lang="en">

<!-- HEAD -->

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title> TrimTech </title>
      <link rel="icon" type="image/x-icon" href="static/favicon.ico">
      <link rel="stylesheet" href="static/style.css">
   </head>

<body>
   <!-- HEADER -->

   <header id="navigation_bar">
      <a href="homepage.html">
         <img id="logo" src="static/logo_trimtech.png" alt="website logo">
      </a>

      <nav id="text_navbar">
         <a href="about.html"> ABOUT </a>
         <a href="uploadpage.html"> UPLOAD </a>
         <a href="fastqc.html"> FASTQC </a>
         <a href="trimmomatic.html"> TRIMMOMATIC </a>
         <a href="contactpage.html"> CONTACT </a>
      </nav>

    </header>


    <!-- CONTENT -->
    <h3 class="head_text_disclaimer_page"> DISCLAIMER </h3>
    <div class="text_disclaimer_page">
      <p> Coming soon...
    </div>


       <!-- FOOTER -->

   <footer>
    <div class="footer">
       <div class="text_footer">
          <p> &copy;TrimTech ALL RIGHTS RESERVED</p>
       </div>
    </div>
 </footer>

</body>
</html>