{% extends "basetemplate.html" %}

{% block content %}
   <!-- HEADER -->

   <header id="navigation_bar">
      <a href="{{ url_for("homepage")}}">
         <img id="logo" src="../static/logo_trimtech.png" alt="website logo">
      </a>

      <nav id="text_navbar">
         <a href="{{ url_for("about")}}"> ABOUT </a>
         <a href="{{ url_for("uploadpage")}}"> UPLOAD </a>
         <a href="{{ url_for("fastqc")}}"> FASTQC </a>
         <a href="{{ url_for("trimmomatic")}}"> TRIMMOMATIC </a>
         <a href="{{ url_for("contactpage")}}"> CONTACT </a>
      </nav>
      </nav>

   </header>


   <!-- CONTENT -->
   <h3 class="head_text_disclaimer_page"> DISCLAIMER </h3>
   <div class="text_disclaimer_page">
      <p> TrimTech works best when ilumina data is uploaded, because the tool trimmomatic was built around 
         ilumina data. When other data is uploaded the trimming process may be less accurate.</p>
   </div>
{% endblock %}