{% extends "basetemplate.html" %}

{% block content %}

   <!-- CONTENT -->
   <div class="content_home_text">
      <div id="fade_in_left">
         <p> Quality Controls, <br>
         Trim Sequences, <br>
         Visualize Transformation <br>
         — Your DNA, Perfected! </p>
      </div>
   </div>
   <div id="grid_try">
      <div class="grid_try_text">
         <a href="{{ url_for("uploadpage")}}">
            <p> TRY IT NOW!</p>
         </a>
      </div>
   </div>
   <div id="grid_how">
      <div class="grid_how_text">
         <a href="{{ url_for("how_does_it_work")}}">
            <p> HOW DOES IT WORK? </p>
            <p class="grid_how_hidden"> TrimTech uses different tools to trim and compare your data. 
               Click to learn more
            </p>
         </a>
      </div>
   </div>
   <div id="grid_get">
      <div class="grid_get_text">
         <a href="https://www.ncbi.nlm.nih.gov/sra/" target="_blank" rel="noopener noreferrer">
            <p> GET YOUR FASTQ FILE HERE! </p>
            <p class="grid_get_hidden"> Go to the NCBI page to download your FASTQ file </p>
         </a>
      </div>
   </div>
   <div id="grid_disclaimer">
      <div class="grid_disclaimer_text">
         <a href="{{ url_for("disclaimer")}}" target="_blank" rel="noopener noreferer">
            <p> DISCLAIMER </p>
            <p class="grid_disclaimer_hidden"> TRIMTECH ONLY USES INPUT FROM ILLUMINA. LEARN HERE WHY </p>
         </a>
      </div>
   </div>
{% endblock %}