{% extends "basetemplate.html" %}

{% block content %}
   <!-- HEADER -->

   <header id="navigation_bar">
      <a href="{{ url_for("homepage")}}">
         <img id="logo" src="../static/logo_trimtech.png" alt="website logo">
      </a>

      <nav id="text_navbar">
         <a href="{{ url_for("about")}}"> ABOUT </a>
         <a href="{{ url_for("uploadpage")}}"> UPLOAD </a>
         <a href="{{ url_for("fastqc")}}"> FASTQC </a>
         <a href="{{ url_for("trimmomatic")}}"> TRIMMOMATIC </a>
         <a href="{{ url_for("contactpage")}}"> CONTACT </a>
      </nav>

   </header>


    <!-- CONTENT -->
    <h3 class="head_text_how_page"> HOW DOES IT WORK? </h3>
    <div class="text_how_page">
      <p> Coming soon...
    </div>
{% endblock %}