{% extends "basetemplate.html" %}

{% block content %}
  <div class="head_text_succecfully_uploaded">
  <p>Succesfully uploaded a FastQ file<br>
    File name: <span class="uploaded_file_name"> {{name}} </span>
  </p>

  <h5 class="head_text_more_info">For more information about the graphs below: <a class="link_fastqc_explanation" href='{{ url_for("fastqc")}}'>click here</a></h5>
  <br> 
  
  <div class="button_next">
      <p id="ques">
          Do you want to trim your data?
      </p>
  </div>
  <br>
  <br>

  <form method="GET">
    <button type="submit" class="download_button" formaction="{{url_for('options')}}">
      TRIM THE DATA
    </button>
  </form>
  <br>
  <br>

  <h4> Basic Statistics </h4>

  {% for line in data %}
      <table class="basic_statistics">
            <tr>
                <th>{{line}}</th>
            </tr>
        </table>
  {% endfor %}
  <br>
  <br>
  <br>

  <img src="{{url_for('static', filename=original+'Images/adapter_content.png') }}">
  <img src="{{url_for('static', filename=original+'Images/duplication_levels.png')}}">
  <img src="{{url_for('static', filename=original+'/Images/per_base_n_content.png' )}}">
  <img src="{{url_for('static', filename=original+'/Images/per_base_quality.png')}}">
  <img src="{{url_for('static', filename=original+'/Images/per_base_sequence_content.png' )}}">
  <img src="{{url_for('static', filename=original+'/Images/per_sequence_gc_content.png' )}}">
  <img src="{{url_for('static', filename=original+'/Images/per_sequence_quality.png' )}}">
  <img src="{{url_for('static', filename=original+'/Images/sequence_length_distribution.png' )}}">
  {% endblock %}