{% extends "basetemplate.html" %}

{% block content %}
    <div class="head_text_succecfully_uploaded">
    <p>Succesfully uploaded a FastQ file<br>
    File name: {{name}}
    </p>

    <img src="{{url_for("static", filename="../static/{{test}}}Images/adapter_content.png")}}">
    <img src="{{url_for("static", filename="../static/{{test}}Images/adapter_content.png")}}">
    <img src="{{url_for("static", filename='../static/original/Images/adapter_content.png")')}}">
    <img src="{{url_for("static", filename='../static/+"{{test}}"+Images/adapter_content.png")')}}">
    <img src="{{url_for("static", filename='../static/original/Images/duplication_levels.png")')}}">
    <img src="{{url_for("static", filename='../static/original/Images/per_base_n_content.png")')}}">
    <img src="{{url_for("static", filename='../static/original/Images/per_base_quality.png")')}}">
    <img src="{{url_for("static", filename='../static/original/Images/per_base_sequence_content.png")')}}">
    <img src="{{url_for("static", filename='../static/original/Images/per_sequence_gc_content.png")')}}">
    <img src="{{url_for("static", filename='../static/original/Images/per_sequence_quality.png")')}}">
    <img src="{{url_for("static", filename='../static/original/Images/sequence_lengt_distribution.png")')}}">
    <img src="../static/SRR18574453_fastqc/Images/adapter_content.png">
    
    </div>
    <div class="button_next">
        <p id="ques">
            Do you want to trim your data?
        </p>
    </div>
    <form method="GET">
      <button id="trim" type="submit" formaction="{{url_for('options')}}">
        TRIM THE DATA
      </button>
    </form>
    {% endblock %}