<!DOCTYPE html>

<html lang="en">

<!-- HEAD -->

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title> TrimTech </title>
      <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
      <link rel="stylesheet" href="../static/style.css">
   </head>

<body>
   <!-- HEADER -->

   <header id="navigation_bar">
    <a href="{{ url_for("homepage")}}">
        <img id="logo" src="../static/logo_trimtech.png" alt="website logo">
     </a>

     <nav id="text_navbar">
        <a href="{{ url_for("about")}}"> ABOUT </a>
        <a href="{{ url_for("uploadpage")}}"> UPLOAD </a>
        <a href="{{ url_for("fastqc")}}"> FASTQC </a>
        <a href="{{ url_for("trimmomatic")}}"> TRIMMOMATIC </a>
        <a href="{{ url_for("contactpage")}}"> CONTACT </a>
     </nav>

    </header>


    <!-- CONTENT -->
    <h1 class="head_text_trimmomatic"> WHAT IS TRIMMOMATIC? </h1>
    <p class="text_trimmomatic"> 
        With the presence of poor quality or technical sequences
        such as adapters in next-generation sequencing, data can
        result in inaccurate analyses. It is not easy to identify
        such sequences, including partial adapter sequences, while
        keeping accurate and valid sequence data intact.
        <br><br>
        Trimmomatic is a tool designed to cut out those poor quality and
        technical sequences. It is a flexible, pair aware and
        efficient preprocessing tool, optimized for Illumina NGS
        data.
    </p>
    <br>

    <h2 class="main_headers_text_trimmomatic"> Algorithms in Trimmomatic</h2>
    <p class="text_trimmomatic">
        Trimmomatic has two methods to detect technical sequences
        within a read. The first method works by finding a
        close match between the read and a technical sequence
        given by the user. This mode is referred to as simple mode.
        This mode works for all technical sequences, including
        adapters and polymerase chain reaction primers.
    </p>

    <p class="text_trimmomatic">
        The second approach is referred to as palindrome mode. It
        is aimed at detecting a sequenced DNA fragment
        that is shorter than the read length, which results in
        adapter contamination on the end of the reads. This mode can
        only be used with paired end data but is more sensitive and
        specific than simple mode.
    </p>
    <br>
    
    <h3 class="headers_text_trimmomatic"> Simple mode </h3>
      <p class="text_trimmomatic">
        In simple mode, each read is scanned from the 5' end to the
        3' end to determine if any given adapters are present. It
        uses the standard seed and extend approach to find initial
        matches between the technical sequences and the reads. The
        seed does not have to match perfectly, and a user-given number
        of mismatches are tolerated. Based on this seed match, a local
        alignment will perform. If the score of the alignment is higher
        than the threshold given by the user, the aligned region and
        the remains after the alignment will be removed.
      </p>
      <br>
  
      <figure>
          <img src="../static/Trimmomatic_afbeeldingen/simplemode.jpg" alt="Simple Mode" title="Simple Mode" class="pictures_trimmomatic">
          <figcaption class="figcaption_trimmomatic"> Figure 1: Simple mode (Bolger, Lohse, Usadel, 2014) </figcaption>
      </figure>
      <br>
      
      <p class="text_trimmomatic">
        In the image above you see simple mode visualised. The proces
        begins with a partial overlap of the 3'end of the technical
        sequence with the 5'end of the read (A). Testing then proceeds
        by moving the supposed contaminant towards the 3'end of the
        read. In both the partial overlap (A) and the complete overlap
        at the 5'end (B), the entire read will be clipped. If the
        contaminant is found within the read (C), the bases from the
        5'end of the read to the beginning of the alignment are kept.
        The testing process continues until only a partial alignment on
        the 3'end of the read remains (D).
      </p>
     
      <p class="text_trimmomatic">
        Simple mode can detect any technical sequence at any location
        in the read, given that the alignment is long enough, and the
        read is sufficiently accurate. However, when only a short
        partial match is possible, the contaminant could not be
        reliably detectable.
      </p>
      <br>
  
    <h3 class="headers_text_trimmomatic"> Palindrome mode </h3>
    <p class="text_trimmomatic">
        As stated above, palindrome mode is aimed at detecting a
        sequenced DNA fragment that is shorter than the read length,
        a read through. When a read through occurs, both reads will
        consist of an equal number of valid bases, followed
        by contaminating sequence from the opposite adapters. Besides,
        the valid sequence within the two reads will be reverse
        complements. By detecting all three of these symptoms at once,
        adapter read-through can be identified with high sensitivity
        and specificity.
    </p>
    <br>
  
    <figure>
        <img src="../static/Trimmomatic_afbeeldingen/palindromemode.jpg" alt="Palindrome Mode" title="Palindrome Mode" class="pictures_trimmomatic">
        <figcaption class="figcaption_trimmomatic"> Figure 2: Palindrome mode (Bolger, Lohse, Usadel, 2014) </figcaption>
    </figure>
    <br>
  
    <p class="text_trimmomatic">
        In the image above you see palindrome mode visualised. It begins
        with an overlap between the adapters and the start of the
        opposite reads (A). Because of the ligation of the adapters,
        this alignment would detect a read pair with no useful
        sequence information. The detection of this scenario would
        result into it dropping both reads. Testing then proceeds by
        moving the relative position of the reads backwards, testing
        for increasingly longer valid DNA fragments (B). This would
        result in trimming of both reads. Even when a small fragment
        of the adapter is overlapping, the overall alignment is easily
        sufficient to ensure reliable detection. (C). The process is
        complete when the overlapping region no longer reaches into
        the adapters (D).
        <br><br>
        The biggest advantage of palindrome mode is the longer alignment
        length, which ensures that the adapters can be reliably detected,
        even when read errors occur of where only a small number of
        adapter bases are present.
    </p>
    <br>
  
    <h3 class="main_headers_text_trimmomatic"> Alignment detection and scoring </h3>
    <p class="text_trimmomatic">
        The algorithm used for technical sequence alignments avoids the
        precalculated indexes often used in NGS alignments.
        <br><br>
        Initial sequence comparisons are done using a 16-base fragment
        from each sequence. Those 16 bases are converted to a 64-bit
        integer, which is called a seed, using 4-bit code for each base.
        These seeds are then compared using a bitwise-XOR, which
        determines which bits differ between the two seeds. This will
        result in a 0000 code for each matching base, and a code with two
        1's for each mismatch. The 1's within the result are then counted
        using the popcount operation, and this count will be twice the
        number of differing bases for the 16-base fragments.
        <br><br>
        If the seeds are within the distance given by the user, the full
        alignment scoring algorithm is used. Matching bases are scored as
        Log10<sup>4</sup>, while mismatches get penalized on their
        quality score, by Q/10, which can vary from 0 to 4. This wil result
        in a higher penalty for bases that appear to be highly accurate.
        <br><br>
        Simple mode aligns each read against each technical sequence, using
        local alignment. This is applied by finding the highest scoring
        region within the alignment, and may exclude divergent regions on
        the ends.
        <br><br>
        Palindrome mode aligns the forward and reverse reads, combined with
        their adapter sequences. It uses global alignment, which is the
        total alignment score of the overlapping region.
    </p>
    <br>
  
  
    <h3 class="main_headers_text_trimmomatic"> Quality filtering </h3>
    <p class="text_trimmomatic">
        Trimmomatic has two main quality filtering options. Both options
        use the Illumina quality score of each base position to determine
        where the read should be cut, which results in the 5' end portion
        maintained, while the sequence on the 3' end of the cut point is thrown
        away. This is ideal with typical Illumina data, which mostly have
        less quality at the 3' end. We will go into these options in the
        following sections.
    </p>
    <br>
  
    <h3 class="headers_text_trimmomatic"> Sliding Window quality filtering </h3>
    <p class="text_trimmomatic">
        The sliding window uses a regular approach. It scans from the 5'end
        of the read, and removes the 3' end when the average quality of a
        group of bases drops below a given threshold. This prevents a single
        weak base to cause the removal of possible high quality data, while
        ensuring that a consecutive series of low quality bases will cause
        trimming.
    </p>
      <br>
  
    <h3 class="headers_text_trimmomatic"> Maximum Information quality filtering </h3>
    <p class="text_trimmomatic">
        The maximum information option uses a combination of three factors
        to determine how much of a read should be kept. The first factor
        is the length threshold, whereby a read must be of at least a minimal
        length to be useful for the downstream application. Very short reads
        have little value, because they are too cryptic to be informative.
        Long reads on the other hand, can be mapped to few locations in the
        target sequence. If they cannot be uniquely mapped, because they come
        from a repetitive region, it is unlikely that a small number of extra
        bases will fix this. For reads between these extremes is the benefit
        of a few additional bases considerable, as these bases could make a
        cryptic read informative.
        <br><br>
        A logistic curve is used to apply this scoring behavior, as it gives
        a flat score for extreme values, while giving a steep transition
        around the user given threshold point. Given a target length t,
        the supposed trimming to length l would give a length threshold
        score:
    </p>
    <br>
  
    <figure>
        <img src="../static/Trimmomatic_afbeeldingen/logisticcurvefactor1.jpg" alt="Logistic curve" title="Logistic curve" class="pictures_trimmomatic">
        <figcaption class="figcaption_trimmomatic"> Figure 3: Formula logistic curve (Bolger, Lohse, Usadel, 2014) </figcaption>
    </figure>
    <br>
  
    <p class="text_trimmomatic">
        The second factor copies coverage, and gives a linear score based
        on sequence length:
    </p>
    <br>
  
    <figure>
        <img src="../static/Trimmomatic_afbeeldingen/linearcurvefactor2.jpg" alt="Linear curve" title="Linear curve" class="pictures_trimmomatic">
        <figcaption class="figcaption_trimmomatic"> Figure 4: Formula linear curve (Bolger, Lohse, Usadel, 2014) </figcaption>
    </figure>
    <br>
  
    <p class="text_trimmomatic">
        This reflects that, given reasonably high accuracy bases, a longer
        read contains more information that is useful for most applications.
        <br><br>
        The last factor copies the error rate, and uses the error
        probabilities from the read quality scores to determine the gathered
        possibility of errors over the read. To calculate this score, it
        takes the product of the probabilities that each base is correct:
    </p>
    <br>
  
    <figure>
        <img src="../static/Trimmomatic_afbeeldingen/formulaerror.jpg" alt="Formula error rate" title="formula error rate" class="pictures_trimmomatic">
        <figcaption class="figcaption_trimmomatic"> Figure 5: Formula error rate (Bolger, Lohse, Usadel, 2014) </figcaption>
    </figure>
    <br>
  
    <p class="text_trimmomatic">
        The correctness probabilities Pcorr of each base are calculated
        from the sequence quality scores. The error score usually begins as
        a high score at the start of the read, and depending on the quality
        of the read, typically drops fast at some point during the read.
        <br><br>
        The maximum information algorithm determines the combined score
        of the three factors for each possible trimming position, and the
        best combined score determines how much of the read to trim. A
        user given strictness setting s, which can be set between 0 and 1,
        controls the balance between the coverage factor and the error
        rate factor. This results in the following general formula:
    </p>
    <br>
  
    <figure>
        <img src="../static/Trimmomatic_afbeeldingen/generalformula.jpg" alt="General formula" title="General formula" class="pictures_trimmomatic">
        <figcaption class="figcaption_trimmomatic"> Figure 6: General formula (Bolger, Lohse, Usadel, 2014) </figcaption>
    </figure>
    <br>
  
    <figure class="pictures_trimmomatic">
        <img src="../static/Trimmomatic_afbeeldingen/graph.jpg" alt="General formula visualised" title="General formula visualised" class="pictures_trimmomatic">
        <figcaption class="figcaption_trimmomatic"> Figure 7: General formula visualised (Bolger, Lohse, Usadel, 2014) </figcaption>
    </figure>
    <br>
  
    <p class="text_trimmomatic">
        The image above shows how the three factors combine into a
        single score. The peak of the score is then used to
        determine the trimming point.
    </p>
    <br>
    
    <h2 class="main_headers_text_trimmomatic"> In- and Output </h2>
    <p class="text_trimmomatic">
        Trimmomatic works using FastQ files.
        In- and output files can be specified on the command line.
        Compressed input and output are supported using either
        .gzip or .bzip2 formats. Compression or decompression is
        applied automatically when the correct file extensions are
        used.
    </p>
    <br>

    <h2 class="main_headers_text_trimmomatic"> Trimming Options</h2>
    <p class="text_trimmomatic">
        When trimming, there are an amount of parameters you can set.
        those parameters include:
    </p>
    <ul class="list_text_trimmomatic">
        <li><span class="bold_text_trimmomatic">ILLUMINACLIP:</span> Cuts adapters and other illumina-specific sequences from the read.</li>
        <li><span class="bold_text_trimmomatic">LEADING:</span> Cuts bases off the start of a read, if it is below a threshold quality.</li>
        <li><span class="bold_text_trimmomatic">TRAILING:</span> Cuts bases of the end of a read, if it is below a threshold quality.</li>
        <li><span class="bold_text_trimmomatic">SLIDINGSHOW:</span> Performs a sliding window trimming, cuts if the average quality within the window is bellow a threshold. 
            The first argument is the size of the window. The argument is the threshold quality.</li>
        <li><span class="bold_text_trimmomatic">MINLEN:</span> Drop the read if it is below the specified length.</li>
        <li><span class="bold_text_trimmomatic">CROP:</span> Cuts the read to a specified length.</li>
        <li><span class="bold_text_trimmomatic">HEADCROP:</span> Cuts the bases off the end of a read if below a threshold quality.</li>
        <li><span class="bold_text_trimmomatic">TOPHRED33:</span> Converts the quality score to Phred-33.</li>
        <li><span class="bold_text_trimmomatic">TOPHRED64:</span> Converts the quality score to Phred-64.</li>
    </ul>
    <p class="note_trimmomatic">
        NOTE: IF NO PHRED SCORE IS SPECIFIED, TRIMMOMATIC WILL DEFAULT TO PHRED-33.
    </p>
    <br>

    <h4 class="source_text_trimmomatic">Sources:</h4>
    <p class="source_text_trimmomatic">All of the info above is based form these sites:
        <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4103590/#btu170-B5" class="links_text_trimmomatic">NCBI</a> 
        and
        <a href="http://www.usadellab.org/cms/?page=trimmomatic" class="links_text_trimmomatic">USADELLAB.org</a> 
    </p>
    <br>
    <br>

    <!-- FOOTER -->

    <footer>
    <div class="footer">
       <div class="text_footer">
          <p> &copy;TrimTech ALL RIGHTS RESERVED</p>
       </div>
    </div>
    </footer>

</body>
</html>