{% extends "basetemplate.html" %}

{% block content %}
    <!-- CONTENT -->
    <h3 class="head_text_upload_page"> UPLOAD </h3>

    <div class="text_upload_page">
      <p>Please upload your Fastq file here</p>
      <form id="upload-form" action ="/succes" method="post" enctype="multipart/form-data">
         <input class="choose_file" type="file" name="file"/>
         <input class="upload_file" type="submit" value="Upload file">
      </form>
    </div>
    <div id="loader-overlay" class="loader-overlay">
      <div class="loader"></div>
    </div>

    <!-- Script for loader overlay -->
    <script>
      document.getElementById('upload-form').addEventListener('submit', function() {
          // Loader overlay when file is submitted
          document.getElementById('loader-overlay').style.display = 'flex';
      });
    </script>

{% endblock %}